html, body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 450px;
    min-width: 450px;
    padding: 0px 10px 10px 10px;
    font-size:13px;
}

hr{
    width: 95%;
    margin-left:0;
}